.header{
    background-color: blue;
    color: white;
    height: 200px;
    width: 100%;
    
}

.footer{
    background-color: gray;
    text-align: center;
    height: 100px;
    width: 100%;
}

nav, ul, li, a{
    list-style: none;
    text-decoration: none;
    color: white;
}